html,body {

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Syncopate', sans-serif;
}
    .bg {
            background-image: url("../images/empire1.jpg"); no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: contain;
            background-size: cover;
            height: 100vh;
            width: 100vw;
            background-position: center;
        }


/*NAVBAR*/

.navbar-brand {
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    text-shadow: 2px 2px #000;
    background-color: #000;
    z-index: 10;
    padding-top: 0;
}

.navbar-toggle {
    display: hidden;
}

.navbar  {
    font-size: 0.8em;
    background-color: #000;
    width: 100vw;
    position: fixed;
    border-bottom: 2px solid #9D00FF;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

nav li {
    cursor: pointer;
    padding: 0.5em;
    text-align: center;
}

nav li a {
    text-decoration: none;
    color: #fff;
}

nav ul li:hover {
    font-weight: bold;
    font-size: 1.1em;
    background-color: #9D00FF;
}

/*BIOGRAPHY PAGE*/

.biography-container {
    display: flex;
    padding: 20px;
}

.biography {
    background-color: #000;
    color: #e9eaf1;
    line-height: 3;
    margin: 0;
    float: left;
    clear: none;
    width: 100vw;
}

.biography h1 {
    font-size: 2em;
    text-align: center;
}

