html,body {

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Syncopate', sans-serif;
}
    .bg {
            background-image: url("../images/empire1.jpg"); 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: contain;
            background-size: cover;
            height: 100vh;
            width: 100vw;
            background-position: center;
        }
        
        .tour-dates {
            background-image: url("../images/cosmicboat1.jpg");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: contain;
            background-size: cover;
            background-position: center;
        }        
        .singles {
            background-image: url("../images/stars.jpg");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: contain;
            background-size: cover;
            height: 100vh;
            width: 100vw;
            background-position: center;
        }
        .sign-up {
            background-image: url("../images/empire3.jpg");
            -moz-background-size: cover;
            -o-background-size: contain;
            background-size: cover;
            height: 100vh;
            width: 100vw;
            background-position: center;
        }        

/*NAVBAR*/

.navbar-brand {
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    text-shadow: 2px 2px #000;
    background-color: #000;
    z-index: 10;
    padding-top: 0;
}


.navbar  {
    font-size: 0.8em;
    background-color: #000;
    width: 100vw;
    position: fixed;
    border-bottom: 2px solid #9D00FF;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

nav li {
    cursor: pointer;
    padding: 0.5em;
    text-align: center;
}

nav li a {
    text-decoration: none;
    color: #fff;
}

nav ul li:hover {
    font-weight: bold;
    font-size: 1.1em;
    background-color: #9D00FF;
}

/*BIOGRAPHY PAGE*/

.biography-container {
    display: flex;
    padding: 20px;
}

.biography {
    background-color: #000;
    color: #e9eaf1;
    line-height: 3;
    margin: 0;
    float: left;
    clear: none;
    width: 100vw;
}

.biography h1 {
    font-size: 2em;
    text-align: center;
}

/*TOUR DATES PAGE*/

.tour-dates {

    color: #fff;
    line-height: 3;
    margin: 0;
    padding: 5px;
    clear: none;
    width: 100vw;
    padding-bottom: 100px;

}

.tour-dates h1 {
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px #000;
}

/*TOUR DATES TABLE STYLING*/

table {
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 3;
    font-size: 1em;
    width: 90vw;
}

th {
    background-color: #000;
}

th:hover {
    background-color: #9D00FF;
}


.row-content:hover {
    background-color: #fff;
    opacity: 0.7;
    color: #000;
}

.sold-out {
    background-color: red;
    border: 2px solid #000;
}

/*ALBUMS PAGE*/

.albums {
    background-color: #000;
    color: #fff;
    width: 100vw;
    margin: 0;
    float: left;
    clear: none;
}

.albums h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
}

.albums-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 100px;
    padding-bottom: 100px;
}
.spotify-albums img{
    height: 350px;
    width: 350px;
    border: 2px solid #fff;
}

.players-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.spotify-players iframe {
    height: 80px;
    width: 350px;
    margin-top: 50px;
}

/*SINGLES PAGE*/

.singles-container {
  display: flex;
  width: 75vw;
  height: 75vh;
  justify-content: center;
  margin: auto;
}

.playlist {
    width: 100%;
    justify-content: center;
}

.singles {
    margin: 0;
    float: left;
    clear: none;
    width: 100vw;
}

.singles h1 {
    text-align: center;
    font-size: 2em;
    color: #fff;
    margin-top: 50px;
}

/*GALLERY PAGE*/

.gallery {
    background-color: #000;
    color: #fff;
    margin: 0;
    float: left;
    clear: none;
}

.gallery-wrapper {
    margin-top: 50px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
    background-color: #000;
}

.gallery h1 {
    text-align: center;
    font-size: 2em;
    color: #fff;
    margin-top: 50px;
}

.gallery-color-bar {
    height: 10vw;
    width: 100vw;
    background-color: #9D00FF;
    opacity: 0.2;
}

#bottom-bar {
    margin-top: 50px;
}

/*W3 Schools Lightbox*/

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 23%;
  margin-left: auto;
  margin-right: auto;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  max-height: 500px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;

}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img.demo {
 display: none;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Image gallery fixed height*/

.mySlides img {
    width: auto;
    height: 550px;
    margin: auto;
    display: block;
}
.column img {
    padding-bottom: 50px;
}

/*SIGN UP PAGE*/

.sign-up {
    margin: 0;
    float: left;
    clear: none;
    height: 100vh;
}

.sign-up h1 {
    text-align: center;
    font-size: 2em;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.form-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 2px 2px #000;
    padding-bottom: 10px;
}

.headline {
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 1.2em;
    text-align: center;
}

input {
    height: 30px;
    padding: 5px;
    font-size: 0.8em;
}

.name-input {
    width: 300px;
    border-radius: 20px;
    margin: 10px;
}

.email-input {
    width: 300px;
    border-radius: 20px;
    margin: 10px;
}

.submit-button {
    width: 230px;
    height: 30px;
    background-color: #000;
    color: #fff;
    font-size: 0.8em;
    border-radius: 20px;
    font-family: 'Syncopate', sans-serif;
    margin: 10px;
    padding:5px;
}

.container-social {
    display: flex;
    justify-content: center;
}

.social {
    font-size: 3em;
    margin: 10px 20px;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.social a:visited {
    color: #fff;
}



/*RESPONSIVE MEDIA QUERIES*/


@media all and (max-width: 768px) {
    .navbar-toggle {
       position: absolute;
       top: 10px;
       right: 20px;
       font-size: 30px;
       color: #f2f2f2;
       z-index: 10;
    }
    
    .main-nav {
        display: none;
    }
    
    .main-nav.active {
        display: block;
    }
    
    nav {
        font-size: 1em;
    }
    
    nav ul {
        flex-direction: column;
    }
    
    nav ul li {
        text-align: center;
        font-size: 2em;
    }
    
    nav ul li:hover {
        text-align: center;
        font-size: 2em;
    }
    
    .biography-container {
        flex-direction: column;
        text-align: justify;
    }
    
    .tour-dates-container {
        flex-direction: column;
    }
    
    .albums-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    
    .players-container {
        flex-direction: column;
    }
    
    .spotify-albums {
        margin-top: 30px;
    }  
   .column {
        float: none;
        width: 75%;
   }
   .column img {
     height: 40vh;
   }
    .form-container {
        flex-direction: column;
        margin-top: 200px;
    }
    .social {
        flex-direction: column;
    }
    .headline {
        display: block;
    }
}    
